<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$LAYOUT_TITLE - IdeaPlaza">Idea Plaza</title>

    <!-- 공통 CSS -->
    <!--    <link rel="stylesheet" th:href="@{/css/common.css}" />-->

    <!-- 개별 페이지에서 넣을 CSS -->
    <th:block layout:fragment="style"></th:block>
</head>
<body>

<header>
    <div class="container py-3 border-bottom mb-4">
        <h1 class="text-center"><a th:href="@{/board/main}" class="text-decoration-none text-dark">Idea Plaza</a></h1>

        <!-- 네비게이션 바 -->
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/board/main}">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/board/list}">게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">소개</a>
                </li>
                <!-- 로그인 상태에 따른 네비게이션 표시 -->
                <li class="nav-item" th:if="${session.loginMember == null}">
                    <a class="nav-link" th:href="@{/member/login}">로그인</a>
                </li>
                <li class="nav-item" th:if="${session.loginMember != null}">
                    <form action="/member/logout" method="POST" style="display: inline;">
                        <button type="submit" class="nav-link" style="background: none; border: none; padding: 0; text-decoration: underline; cursor: pointer;">
                            로그아웃
                        </button>
                    </form>

                </li>
                <li class="nav-item" th:if="${session.loginMember != null}">
                    <span class="nav-link">
                        <span th:text="${session.loginMember.nickname} + '님'">로그인된 사용자</span>
                    </span>
                </li>
            </ul>
        </nav>
    </div>
</header>

<main class="container">
    <div layout:fragment="content"></div>
</main>

<footer class="text-center mt-5 py-4 border-top text-muted">
    &copy; 2025 Idea Plaza. All rights reserved.
</footer>

<!-- 공통 JS -->
<!--<script th:src="@{/js/common.js}"></script>-->

<!-- 개별 페이지 JS -->
<th:block layout:fragment="script"></th:block>

</body>
</html>
